{% extends "base.html" %}


{% block content %}

<main class="offcanvas-enabled" style="padding-top: 5rem;">

<section class="ps-lg-4 pe-lg-3 pt-4">

    <div class="container">
        <div class="row">
            {% include 'accounts/dashbord_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Logged in as:</strong>
                        <span>{{user.full_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="cart-body">
                                        <h5 class="cart-title">Total Orders</h5>
                                        <h4>{{orders_count}}</h4>
                                        <a href="{%url 'my_orders'%}">View Orders</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="cart-body">

                                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="User Picure"
                                            width="50" height="50" style="border-radius: 50%;">
                                        <p class="mb-0">{{user.email}}</p>
                                        <p>{{user.phone_number}}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row.// -->
        </div> <!-- card-body .// -->
        <!-- table-responsive .end// -->
        </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>


</section>


</main>


{% endblock content %}