<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="max-age=604800" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>FreshFoods</title>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link href="{%static 'css/theme.min.css'%}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.9/simplebar.css"
	integrity="sha512-iYpx9HVem1HUXRdrfRQLXJuwrG5DYNWt1aAOsYkFb0ZB04zodzrlgojJTFZP/xVrkPkF/dJXohBwjc8xDl9S7A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.9/simplebar.min.js"
	integrity="sha512-xAAb5tNhb12Tx88hMa8IdJI+3pzHBk4V4sQ4w8FIFkXEvlh1PYYma0oPnIENPYeLeblWavY7AlkJj3XzJlif0A=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- tinyslider -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

	<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@16.1.3/dist/smooth-scroll.polyfills.min.js"></script>

	<script src="{% static 'js/theme.min.js' %}"></script>
</head>

<body class="bg-secondary">

	{% include "header.html" %}
	{% include "sidebar.html" %}

	{% block content %}
	{% endblock content %}

	{% comment %} {% include "footer.html" %} {% endcomment %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>


</body>

</html>